.empty-page {
  width: fit-content;
  text-align: center;
  margin: 20% auto 0;
  padding-bottom: 50px;
}

.empty-page > h2 {
  text-decoration: underline;
}

.empty-page > h2:hover {
  cursor: pointer;
  text-decoration: none;
  color: #80FFFF;
}
