.container {
  position: relative;
}

.button {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background-color: darkgray;
  position: absolute;
  translate: -50% -50%;
}

.next {
  top: 50%;
  left: 95%;
}

.prev {
  top: 50%;
  left: 5%;
}

.image {
  object-fit: contain;
  width: 100%;
  height: 10vh;
}